RelationService/RelationRestService/embedded_2799_glassfish/domains/domain1/config/domain.xml
RelationService/RelationRestService/embedded_2799_glassfish/domains/domain1/docroot/index.html
RelationService/RelationRestService/embedded_2799_glassfish/lib/install/applications/__cp_jdbc_ra/META-INF/ra.xml
RelationService/RelationRestService/embedded_2799_glassfish/lib/install/applications/__ds_jdbc_ra/META-INF/ra.xml
RelationService/RelationRestService/embedded_2799_glassfish/lib/install/applications/__xa_jdbc_ra/META-INF/ra.xml